

.navbar-harvest {
    margin-bottom: 0px;
}

    .navbar-harvest .navbar-inner .navbar-header {
        padding-top: 18px;
    }
    /*background: -moz-linear-gradient(top, RGB(246, 249, 249), RGB(254, 254, 254));*/
    .navbar-harvest .navbar-inner {
        height: 70px;
        background: RGB(244, 251, 251);
        background: -webkit-linear-gradient(top, RGB(246, 249, 249), RGB(254, 254, 254));
        background: -moz-linear-gradient(top, RGB(246, 249, 249), RGB(254, 254, 254));
        background: -o-linear-gradient(top, RGB(246, 249, 249), RGB(254, 254, 254));
        background: -ms-linear-gradient(top, RGB(246, 249, 249), RGB(254, 254, 254));
        background: linear-gradient(top, RGB(246, 249, 249), RGB(254, 254, 254));
        -webkit-box-shadow: 0px 0px 8px 0px RGBA(155, 155, 155, 0.75);
        box-shadow: 0px 0px 8px 0px RGBA(155, 155, 155, 0.75);
        z-index: 1000;
        border-width: 0 0 1px;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        top: 0;
        border-width: 0 0 1px;
        float: left !important;
    }

        .navbar-harvest .navbar-inner .nav {
            float: right;
        }

    .navbar-harvest .brand {
        text-shadow: none;
        padding: 5px 0 0 0;
        margin-left: 90px;
        font-size: 26px;
        color: #33adc2;
        -webkit-transition: text-shadow 0.3s linear;
        -moz-transition: text-shadow 0.3s linear;
        -ms-transition: text-shadow 0.3s linear;
        -o-transition: text-shadow 0.3s linear;
        transition: text-shadow 0.3s linear;
        -webkit-font-smoothing: antialiased;
    }


.navbar-brand.company-name {
}


.navbar-harvest .navbar-inner .nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: none;
    background: none;
    color: #33adc2;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: text-shadow 0.3s linear;
    -moz-transition: text-shadow 0.3s linear;
    -ms-transition: text-shadow 0.3s linear;
    -o-transition: text-shadow 0.3s linear;
    transition: text-shadow 0.3s linear;
    -webkit-font-smoothing: antialiased;
    opacity: .9;
    font-weight: 600;
}

    .navbar-harvest .navbar-inner .nav li a:hover {
        text-decoration: none;
        text-shadow: 1PX 1px 5px rgba(0, 0, 0, .25);
    }

.navbar-brand .brand:hover {
    text-decoration: none;
    text-shadow: 1PX 1px 5px rgba(0, 0, 0, .12);
}

.navbar-brand.top-logo {
    padding: 0px;
    margin: 0px;
}

    .navbar-brand.top-logo img {
        height: 60px;
        padding: 0px 5px;
        margin: 0;
        position: relative;
        top: 0;
    }

#navbar .navbar-nav li a:hover {
    transition: background-color 0.4s ease;
}

#navbar .navbar-nav li a:hover {
    background-color: rgba(13, 226, 220, 0.80);
}

@media (max-width: 768px) {
    .navbar-inner .nav {
        float: left !important;
        margin: 0 !important;
    }

    .navbar-brand.top-logo {
        display: none;
    }

    #navbar {
        border-top: 4px solid rgb(36, 214, 243);
    }

        #navbar .navbar-nav li {
            border-bottom: 1px solid rgb(221, 221, 221);
            margin: 0px 5px;
        }
}

@media (min-width: 480px) {
}

@media (max-width: 480px) {


    .navbar-brand.company-name {
        content: "Presevi";
        font-size: 18px;
    }
}

/*.navbar-collapse.collapse {
    display: block !important;
}*/

/*.navbar-nav > li,
.navbar-nav {
    float: left !important;
}

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px !important;
    }

.navbar-right {
    float: right !important;
}*/


/**/

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    /*line-height: 60px;*/
    /*display:inline-flex;*/
    -webkit-box-shadow: 0px 0px 8px 0px #000000;
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #2A0000;
    background-color: rgba(250, 34, 34, 1);
    color: rgba(1, 1, 1, 0.8);
    vertical-align: middle;
    overflow: hidden;
}

.top-bar-header {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS';
    line-height: inherit;
    /*display:table-row;*/
    display: inline;
}




.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

body.fixed > .header,
body.fixed .left-side,
body.fixed .navbar {
    position: fixed;
}

body.fixed > .header {
    top: 0;
    right: 0;
    left: 0;
}

body.fixed .navbar {
    left: 0;
    right: 0;
}

body.fixed .wrapper {
    margin-top: 50px;
}

.content-area {
    padding-top: 20px;
}

    .content-area > h1 {
        margin: 10px;
        font-size: 30px;
        color: #666;
    }

    .content-area .sub-title {
        margin: 10px 10px 20px;
        border-bottom: 3px solid rgb(233, 233, 233);
        padding-bottom: 5px;
    }

    .content-area .content-box {
        position: relative;
        height: 300px;
        box-shadow: 1px 1px 2px 2px rgba(128, 128, 128, 0.4);
        transition: box-shadow 0.4s ease-in 0s, border-color 0.6s ease-in-out 0s;
        border-top: 5px solid #009af3;
        border-radius: 1px;
        overflow: hidden;
        margin-bottom: 15px;
        cursor: pointer;
    }

        .content-area .content-box img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }

        .content-area .content-box .content-desc {
            position: absolute;
            bottom: 0;
            height: 45%;
            width: 100%;
            right: 0;
            background-color: rgba(37, 37, 37, 0.53);
            color: white;
            padding: 8px;
            transition: background-color 0.3s ease-in-out 0s;
        }

            .content-area .content-box .content-desc .desc-heading {
                font-size: 15px;
                margin: 0 0 3px 0;
            }

            .content-area .content-box .content-desc .desc-writeup {
                font-size: 12px;
                margin: 0px;
            }

        .content-area .content-box:hover {
            height: 300px;
            box-shadow: 1px 1px 4px 5px rgba(128, 128, 128, 0.4);
            border-top-color: #ff850f;
        }

            .content-area .content-box:hover .content-desc {
                background-color: rgba(37, 37, 37, 0.75);
            }


/* 
common
*/

.child-page .page-header-img {
    position: relative;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.child-page.products-container .page-header-img {
    width: 100%;
    height: 150px;
    background-image: url(../images/datacenter.png);
}

    .child-page.products-container .page-header-img .bgcolor-gradient {
        height: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.47);
        color: white;
        padding-top: 20px;
    }

        .child-page.products-container .page-header-img .bgcolor-gradient h1 {
            position: absolute;
            bottom: 20px;
            left: 2%;
        }



/* login page*/
.login-error {
    border: 2px solid red;
    box-shadow: 0 0 3px red;
}

/* login page*/

/* content manage */

label.btn span {
    font-size: 1em;
}

label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="radio"] ~ i.fa.fa-check-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-check-circle-o {
    color: #7AA3CC;
    display: inline;
}

label:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
}

div[data-toggle="buttons"] {
    margin: 20px 0;
}

    div[data-toggle="buttons"] label {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 2em;
        text-align: left;
        white-space: nowrap;
        vertical-align: top;
        cursor: pointer;
        background-color: none;
        border: 0px solid #c8c8c8;
        border-radius: 3px;
        color: #c8c8c8;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

        div[data-toggle="buttons"] label:hover {
            color: #7AA3CC;
        }

        div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

/* content manage END*/



/*product: begin*/
.product-title-container {
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    width: 100%;
    overflow: hidden;
    min-height: 120px;
    max-height: 250px;
    height: 30vh;
    position: relative;
    display: table;
}

    .product-title-container img {
        height: 30vh;
        position: absolute;
        z-index: 1;
        opacity: 0.45;
        object-fit: cover;
        width: 100%;
        min-height: 120px;
        max-height: 250px;
        object-position: 0% 40%;
    }

    .product-title-container .title {
        color: white;
        padding-left: 30px;
        vertical-align: middle;
        height: 100%;
        font-size: 25px;
        display: table-cell;
    }
    .product-detail-container {
    margin-top: 20px;
    background: #F9F6F0;
    box-shadow: 1px 1px 5px 5px rgba(128, 128, 128, 0.4);
    border-radius: 4px;
    color: #424242;
    font-family: arial;
}



.product-page-box{
    box-shadow: 1px 1px 10px 3px rgba(93, 91, 91, 0.59);
    margin-top: 35px;
}

.product-page-content{
    padding: 20px 40px;
}

/*product: End*/


/* CMS Start*/

.content-message-container {
    position: relative;
    width: 70%;
}



.content-action-message {
    background: rgb(191, 246, 251) none repeat scroll 0% 0%;
    padding: 15px;
    border-radius: 2px;
}

.content-message-container .close-icon {
    position: absolute;
    top: 7%;
    right: 0.8%;
    color: RGBA(155, 155, 155, 0.75);
}

    .content-message-container .close-icon:hover {
        color: rgba(98, 98, 98, 0.8);
    }

.field-validation-error {
    color: rgb(234, 120, 120);
}

/*CMS End*/


/*carousel fade BEGIN*/
/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb 
*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
    }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

#homeCarousel {
    height: 75vh;
}

    #homeCarousel .item {
        height: 75vh;
        width: 100%;
    }

    #homeCarousel .carousel-inner img {
        height: 75vh;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        object-position: 0% 50%;
    }

.carousel-caption1 {
    background-color: rgba(2, 145, 156, 0.8);
    text-align: left;
    font-size: 100%;
    color: white;
    position: absolute;
    bottom: 10%;
    width: 40%;
    right: 10%;
    height: 40vh;
    z-index: 10;
    padding: 20px;
    overflow: hidden;
}

    .carousel-caption1 h1 {
        color: white;
        /*background: rgba(115, 115, 115, 0.11);*/
        text-shadow: 0px 0.5px 1px 1px black;
        font-size: 180%;
        margin-top: 0;
    }

.carousel-caption-custom2 {
    left: 5%;
    right: 50%;
    bottom: 5%;
}

.carousel-caption-text {
}

.carousel-custom-control {
    width: 5%;
}

.para-click-text {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-style: italic;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

        .carousel-fade .carousel-inner > .item.next.left,
        .carousel-fade .carousel-inner > .item.prev.right,
        .carousel-fade .carousel-inner > .item.active {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
}


/*carousel fade END*/

.body-content {
    margin-bottom: 40px;
    padding: 20px 0px;
    -webkit-box-shadow: 0px 0px 8px 0px RGBA(155, 155, 155, 0.75);
    box-shadow: 0px 0px 8px 0px RGBA(155, 155, 155, 0.75);
}


/*footer BEGIN*/

footer {
    background-color: #222428;
    color: rgb(142, 142, 142);
    padding: 10px 4px;
}

    footer a {
        /*color: #8C8C8C;*/
        color: rgb(142, 142, 142);
        padding: 5px;
    }

        footer a:hover {
            text-decoration: none;
            width: 100%;
            color: rgb(11, 165, 171);
            /*color: #D8D8D8;*/
            /*background-color: #1E9ABF;*/
        }

    footer .footer-section {
        margin: 20px 20px 0px 30px;
        border-right: 1px solid #5F5F5F;
        padding-right: 20px;
    }

    .footer-section.section-four{
        border-right: none !important;
    }

    /*footer .section-two {
        margin: 20px 20px 0px 30px;
        border-right: 1px solid #5F5F5F;
        padding-right: 20px;
    }

    footer .section-three {
        margin: 20px 20px 0px 30px;
        border-right: 1px solid #5F5F5F;
        padding-right: 20px;
    }

    footer .section-four {
        margin: 20px 20px 0px 30px;
        border-right: 1px solid #5F5F5F;
        padding-right: 20px;*/
    }*/


    footer .brand {
    }

        footer .brand img {
            display: inline;
            height: 40px;
        }

        footer .brand .company-name {
            font-size: 20px;
            display: inline;
            vertical-align: middle;
            color: rgb(216, 216, 216);
        }

    footer .footer-story a {
        padding: 0px 5px;
        color: #BAB7B7;
        background-color: #424242;
    }

        footer .footer-story a:hover {
            color: #424242;
            background-color: #33adc2;
        }

.home-footer .footer-nav li {
    /*border-bottom: 1px solid #545454;*/
    padding: 5px 0px;
}

.home-footer li {
    list-style-type: none;
    list-style: none;
}

.home-footer li {
    list-style-type: none;
    list-style: none;
}
footer .footer-address p {
    margin: 0px;
}
@media (min-width: 992px) {
    

    .footer-section{
        min-height: 270px;
    }

    
}



@media (max-width: 992px) {
    

    .footer-section.section-two{
        border-right: 1px solid #5F5F5F;
    }

    .footer-section.section-three {
        border-right: none;
        
    }

    .footer-section.section-four{
        border-top: solid 1px #5F5F5F;
        padding-top: 10px;
    }
}

@media (max-width: 768px) {
    

    .footer-section{
        
        border-top: none !important;
        border-right: none !important;
        border-bottom: 1px solid #5F5F5F;
    }

    
}

/* footer end*/


