@{
    ViewBag.Title = "CMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="cmsSection" class="cms-section">


    <select id="contentTypeSel" class="select-content">
        <option value="top">--Select a content to manage--</option>
        <option value="banner">Banner</option>
        <option value="product-category">Product Category</option>
        <option value="product">Product</option>
        <option value="clientiele">Clientile</option>
    </select>

    <input type="radio" value="Create" class="form-control"/>
    <input type="radio" value="Edit" class="form-control" />
    <input type="radio" value="Delete" class="form-control" />

</div>



@section Scripts{

    @if (ViewBag.isAuthenticated)
    {
        <script>
            $(document).ready(function () {
                var $radio = ""
                $('#loginDiv').fadeOut('slow');

                $('#contentTypeSel').show().change(function () {
                    console.log(this.value);
                });
                console.log("tatt");
            });
            
        </script>
    }
    }