@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:20px;">
    <div class="product-page-box">
        <div class="product-title-container">
            <img src="@ViewBag.ProductDetail.ImageUrl" />
            <h1 class="title">@ViewBag.ProductDetail.ProductName</h1>
        </div>


        <div class="product-page-content">
            @Html.Raw(Uri.UnescapeDataString(@ViewBag.ProductDetail.PageContent))
        </div>
    </div>
</div>