@{
    ViewBag.Title = "CMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Content Management System
</h2>



<div id="loginDiv">
    @{
        Html.RenderAction("_LoginPartial", "Home");
    }
</div>


<div id="cmsSection" class="cms-section">


    <select id="contentTypeSel" class="select-content">
        <option value="top">--Select a content to manage--</option>
        <option value="banner">Banner</option>
        <option value="product-category">Product Category</option>
        <option value="product">Product</option>
        <option value="clientiele">Clientile</option>
    </select>

</div>



@section Scripts{

    @if (ViewBag.isAuthenticated)
    {
        <script>
            $(document).ready(function () {
                $('#loginDiv').fadeOut('slow');

                $('#contentTypeSel').change(function () {
                    console.log(this.value);
                });
            });
            
        </script>
    }
    }